/* Devices to 1200px */
@media only screen and (max-width: 1200px) {
  .header-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/* Devices from 768 to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .main-about {
    width: 80%;
    margin-left: 10%;
  }

  .btn:link,
  .btn:visited {
    padding: 10px 20px;
  }
  footer {
    padding: 30px 0;
  }
  .logo {
    width: 100px;
  }
  .logo-dark {
    margin-right: 25px;
  }
}

/* Devices from 481 to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  footer {
    padding: 15px 0;
  }
  .row,
  .header-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .main-nav {
    display: none;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 120%;
  }
  .mobile-nav-icon {
    display: inline-block;
  }
  .main-nav {
    float: left;
    margin-top: 35px;
  }
  .main-nav li {
    display: block;
  }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .sticky .main-nav {
    margin-top: 10px;
    margin-left: auto;
  }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0px;
  }
  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon ion-icon {
    color: #555;
  }
}

/* Devices from 281 to 480px */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 25px 0;
  }

  h1 {
    font-size: 160%;
  }
  h2 {
    font-size: 140%;
  }
  h3 {
    font-size: 120%;
  }
  .header-text-box {
    top: 60%;
  }
  .main-nav li {
    margin-left: 30px;
  }
}

/* Devices from 0 to 280px */
@media only screen and (max-width: 280px) {
  .main-nav li {
    margin-left: auto;
  }
}
